<body>
    <app-navbar></app-navbar>

    <div class="main-body">

        <!-- first section -->
        <div class="top-article">
            <div class="left-section">
                <h1 class="title-h1">Ready to Adopt?</h1>
                <h2>We're here to help you</h2>
                <h2>find your perfect match</h2>

                <a href="/signup"><button>Sign Up</button></a>
            </div>

            <div class="right-section">
                <img src="../../assets/dog.jpg" alt="Dog Image" class="dog-image">
            </div>
        </div>

        <!-- second section -->
        <div class="second-article">
            
            <div class="first-card">
                <div class="img-section">
                    <img src="../../assets/search.png" alt="search" class="card-icon"> 
                </div>
                <div class="content-section">
                    <h1>Find a dog</h1>
                    <p>Discover your perfect furry companion with our easy-to-use search tool. Find your ideal match and start your journey towards a loving and lasting bond with a four-legged friend today.</p>
                </div>
            </div>

            <div class="second-card">
                <div class="img-section">
                    <img src="../../assets/smiley.png" alt="smiley" class="card-icon"> 
                </div>
                <div class="content-section">
                    <h1>Meet your dog</h1>
                    <p>Experience the joy of a lifelong connection as you get to know your potential canine companion.  Start the journey to meet your dog and create heartwarming memories today.</p>
                </div>
            </div>

            <div class="third-card">
                <div class="img-section">
                    <img src="../../assets/home.png" alt="home" class="card-icon"> 
                </div>
                <div class="content-section">
                    <h1>Adopt your dog</h1>
                    <p>Embrace the heartwarming experience of adoption as you open your home to a loving canine companion. Begin your journey to adopt your dog today and make a difference in their life and yours.</p>
                </div>
            </div>
        </div>
    </div>

</body>
