<app-navbar></app-navbar>

<div class="main-body">
    <div class="form-container">
        <h1>Dog Profile</h1>
        <div class="dog-pic-container">
            <img src="{{dog.imgURL}}" alt="Dog Image" class="dog-image">
        </div>

        <form>
            <h4>Name: </h4><input type = "text" disabled class="disabled-input" value = "{{dog.name}}" #name /><br>
            <h4>Breed: </h4><input type = "text" disabled class="disabled-input" value = "{{dog.breed}}" #breed /><br>
            <h4>Age: </h4><input type = "text" disabled class="disabled-input" value = "{{dog.age}}" #age /><br>
            <h4>Status: </h4><input type = "text" disabled class="disabled-input" value = "{{dog.status}}" #status /><br>
        </form>

        <div class="button-container">
            <button type="button" (click)="submit()">ADOPT</button>
            <button type="button" (click)="goBack()">BACK</button>
        </div>
    </div>
    
</div>
