
html,body{
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  height: 100%;
}

body {
  background-image: url('../../assets/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 100%;

  display: flex;
}

li {
  margin-left: 50px;
  font-size: 24px;
  
}

a {
  text-decoration: none;
  color: #62928B;
}

a:hover {
  color: #0078d4; /* Change color on hover */
}

.navbar{
  width: 100%;
  height: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
    background: linear-gradient(to right, #EDA10C, #ffc756);
    background-color: #EDA10C;
    color: black;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);

    border-top-left-radius: 100px; /* Adjust the radius as needed */
    border-top-right-radius: 0; /* No rounding on the top-right corner */
    border-bottom-left-radius: 0; /* No rounding on the bottom-left corner */
    border-bottom-right-radius: 0; /* No rounding on the bottom-right corner */
    

    max-width: 450px;
    padding: 50px;
    margin: 0 auto; /* Center the container */
    margin-top: 100px; /* Push the box down from the top of the viewport */
    

}


.form-group {
  margin-bottom: 15px;
  text-align: left;
}

h1{
  margin-bottom: 50px;
}


input[type="text"], input[type="password"] {
  width: calc(100% - 20px);
  padding: 12px;
  border-radius: 100px;
  border: 3px solid black; /* Light grey border */
  margin-bottom: 25px; /* Space between label and input field */
  background-color: transparent;

  color: black;
  font-size: 18px;
  
}

input::placeholder {
  color: black; /* Set the desired color */
}

input:focus {
  outline: none;
}



.form-actions {
  text-align: center;
}
button {
  background-color: black;
  color: white;

  padding: 15px 28px;
  margin-left: 10px;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  width: 300px;

  font-size: 28px;
  font-weight:900;

  margin-top: 50px;
}

button:hover {
  background-color: #724b07; /* Darker orange on hover */
  color: white;
  transition: 0.2s;
}
.form-footer {
  margin-top: 20px;
}

body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333; /* Dark grey text color for contrast */
  /*background-image: url('puppy-background.jpg'); /* Ideally, this image would be a light, high-resolution photo of a happy dog or dogs */
  background-size: cover; /* This makes sure the image covers the whole page */
}

.signup-link{
  color: white;
  font-size: 18px;
}

.signup-link:hover {
  color: #6EBCDB;
}
