<div class="navbar">
	<ul>
		<li><img src="../../assets/logo.png" alt="logo" class="logo-image"><b>PawRescue</b></li>
		<li><a href="/home">HOME</a></li>
		<li *ngIf="userType === 'user' "><a href = "/dogs">DOGS</a></li>
		<li *ngIf="userType === 'admin' "><a href = "/dogs">DOGS</a></li>
		<li *ngIf="userType === '' "><a href = "/login">LOGIN</a></li>
		<li *ngIf="userType === 'user' " (click)="logout()"><a href = "/login">LOGOUT</a></li>
		<li *ngIf="userType === 'admin' " (click)="logout()"><a href = "/login">LOGOUT</a></li>
	</ul>
</div>